.container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
select,
input {
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid rgb(41, 201, 230);
    width: 100px;
}
input {
    width: 150px;
}
.names {
    display: flex;
    height: 40px;
    align-items: center;
    padding-inline-start: 0;
    font-weight: bold;
    font-size: 20px;
}
.names__item {
    width: 150px;
    margin-right: 20px;
    list-style-type: none;
    cursor: pointer;
}
.filter {
    display: flex;
    width: 400px;
    justify-content: space-around;
}
.content {
    font-size: 16px;
}
.pagination {
    display: flex;
    li {
        list-style-type: none;
        margin-left: 5px;
        button {
            background-color: #fff;
            border-radius: 3px;
            border: 1px solid rgb(41, 201, 230);
        }
    }
}