.names {
    display: flex;
    height: 40px;
    align-items: center;
    padding-inline-start: 0;
    font-weight: bold;
}
.names__item {
    width: 150px;
    margin-right: 20px;
    list-style-type: none;
    cursor: pointer;
}
.filter {
    display: flex;
    width: 400px;
    justify-content: space-around;
}